GOOGLE_CONFIG_SHEET_ID="1SLTHPd6YQrsewrKawDGOfEvo3BcDrVbD7vCBZlPuyZ0"
GOOGLE_CONFIG_WORKSHEET="Arkusz1"
GSPREAD_SERVICE_ACCOUNT_FILE="service_account.json"
SMTP_SERVER="smtp.gmail.com"
SENDER_MAIL="email_wysylajacy@gmail.com"
SENDER_PASS="haslo_lub_app_password"
